.about{
    flex-direction: column;
}

.aboutContainer h1{
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 30px;
}

.about_container{
    width: 90%;
}

.cont2{
    flex-direction: row-reverse;
    margin: 3rem;
}

.about_img{
    width: 50%;
}

.about_text{
    text-align: justify;
    color: #ffffff;
    font-size: 25px;
    padding: 0 5rem;
    width: 50%;
}

.text2{
    padding: 0;
}

.about_text2{
    width: 100%;
}

.cards{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 3rem;
    width: 90%;
    gap: 30px;
}

.card{
background-color: #1c2335;
border: 2px solid #1F51FF;
justify-content: center;
flex-direction: column;
text-align: justify;
align-items: center;
border-radius: 10px;
overflow: hidden;
transition: 0.6s;
color: #ffffff;
padding: 0 2rem;
display: flex;
height: 350px;
width: 320px;
}

.card p{
    font-size: 20px;
    margin: 2rem 0;
    height: 100px;
}

.card i{
margin-bottom: 2rem;
color: #1F51FF;
font-size: 3rem;
}


@media screen and (max-width:1024px) {
    .cards{
        flex-direction: column;
    }

    .about_container, .cont2{
        flex-direction: column;
        width: 100%;
    }

    .about_text{
        padding: 1rem;
        width: 90%;
    }

    .about_img{
        width: 90%;
    }
}