/* ---------- services ---------- */
.services{
    flex-direction: column;
    margin-top: 6rem;
    color: #fff;
    width: 100%;
}

.container{
    flex-direction: row;
    padding: 2% 8%;
}

.cards{
    grid-template-columns: repeat(3,1fr);
    display: grid;
    gap: 30px;
}

.card{
    background-color: #1c2335;
    border: 2px solid #1F51FF;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.6s;
    padding: 3% 8%;
    display: flex;
    height: 390px;
    width: 320px;
}

.card i{
    margin-bottom: 20px;
    color: #1F51FF;
    font-size: 4rem;
}

.card h2{
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}

@media screen and (max-width:1024px) {
    .cards{
        grid-template-columns: repeat(1,1fr);
    }
}