<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Our products</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link rel="stylesheet" href="../css/allProducts.css">
        <link rel="stylesheet" href="../css/general.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/menu.css">
    </head>
    <body>
        <!-- ---------- Header ---------- -->
        <header>
            <div class="menu_container flex">
                <a href="../index.html" class="company">WILJO</a>
                <div class="menu">
                    <div class="btn">
                        <i class="fas fa-times close-btn"></i>
                    </div>
                    <a href="../index.html">Home</a>
                    <a href="./allProducts.html">Products</a>
                    <a href="./contact.html">Contact</a>
                </div>
                <div class="btn">
                    <i class="fas fa-bars menu-btn"></i>
                </div>
            </div>
        </header>
        <div class="allProducts">
            <h2  class="title flex">Our products</h2>
            <nav class="men">
                <div class="items">
                    <span class="item active" data-name="all">All</span>
                    <span class="item" data-name="pool">Pool</span>
                    <span class="item" data-name="juke">Jukeboxes</span>
                    <span class="item" data-name="basket">Basket</span>
                    <span class="item" data-name="atm">ATM</span>
                    <span class="item" data-name="hockey">Air Hockey</span>
                    <span class="item" data-name="claw">Claw Machines</span>
                    <span class="item" data-name="others">Others</span>
                </div>
            </nav>
            <div class="gallery">
                <div class="image" data-name="pool"><span><img src="../assets/images/products/pool/pool.webp" alt=""></span></div>
                <div class="image" data-name="pool"><span><img src="../assets/images/products/pool/pool.webp" alt=""></span></div>
                <div class="image" data-name="pool"><span><img src="../assets/images/products/pool/pool.webp" alt=""></span></div>
                <div class="image" data-name="pool"><span><img src="../assets/images/products/pool/pool.webp" alt=""></span></div>
                <div class="image" data-name="juke"><span><img src="../assets/images/products/juke/juke.webp" alt=""></span></div>
                <div class="image" data-name="juke"><span><img src="../assets/images/products/juke/juke.webp" alt=""></span></div>
                <div class="image" data-name="juke"><span><img src="../assets/images/products/juke/juke.webp" alt=""></span></div>
                <div class="image" data-name="juke"><span><img src="../assets/images/products/juke/juke.webp" alt=""></span></div>
                <div class="image" data-name="juke"><span><img src="../assets/images/products/juke/juke.webp" alt=""></span></div>
                <div class="image" data-name="basket"><span><img src="../assets/images/products/basket/basket.png" alt=""></span></div>
                <div class="image" data-name="basket"><span><img src="../assets/images/products/basket/basket.png" alt=""></span></div>
                <div class="image" data-name="basket"><span><img src="../assets/images/products/basket/basket.png" alt=""></span></div>
                <div class="image" data-name="atm"><span><img src="../assets/images/products/atm/atm.avif" alt=""></span></div>
                <div class="image" data-name="atm"><span><img src="../assets/images/products/atm/atm.avif" alt=""></span></div>
                <div class="image" data-name="hockey"><span><img src="../assets/images/products/hockey/hockey.jpeg" alt=""></span></div>
                <div class="image" data-name="hockey"><span><img src="../assets/images/products/hockey/hockey.jpeg" alt=""></span></div>
                <div class="image" data-name="hockey"><span><img src="../assets/images/products/hockey/hockey.jpeg" alt=""></span></div>
                <div class="image" data-name="hockey"><span><img src="../assets/images/products/hockey/hockey.jpeg" alt=""></span></div>
                <div class="image" data-name="hockey"><span><img src="../assets/images/products/hockey/hockey.jpeg" alt=""></span></div>
                <div class="image" data-name="claw"><span><img src="../assets/images/products/claw/claw.webp" alt=""></span></div>
                <div class="image" data-name="claw"><span><img src="../assets/images/products/claw/claw.webp" alt=""></span></div>
                <div class="image" data-name="claw"><span><img src="../assets/images/products/claw/claw.webp" alt=""></span></div>
            </div>
        </div>
        <div class="preview-box">
            <div class="details">
            <span class="title2">Image Category: <p></p></span>
            <span class="icon fas fa-times"></span>
            </div>
            <div class="image-box"><img src="" alt=""></div>
        </div>
        <div class="shadow"></div>
        
        <!-- ---------- Footer ---------- -->
        <footer class="footer">
            <h3>WILJO © 2024. All rights reserved.</h3>
        </footer>
    </body>

    <script src="../js/allProducts.js"></script>
    <script src="../js/menu.js"></script>
</html>